{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
{% endblock %}

{% block content %}
<style>
    #code-text {
        width: 100%;
        height: 500px;
    }
</style>
<div class="job_dispatcher col-md-6">
    <h1>
        Job Dispatch
    </h1>
    <h2>
        Payload
    </h2>
    <br>

    <!--The editor where a user can enter code to deploy.-->
    <div id="code-text"></div>

    <br>
    <!--UI element to send array data-->
    <div>
        <textarea id="payload_data_field" rows="4" cols="80"></textarea>
    </div>
    <!--UI element to select number of nodes to send job to-->
    <h2>
        Cluster Nodes To Use
    </h2>
    <input id="node-count-input" name="node-count" type="range" min="1" max="{{number_of_nodes}}" oninput="updateRangeBox(this.value)">
    <span id="range-slider">{{number_of_nodes}}</span>
    <br>
    <input id="dispatch-button" type="button" value="Dispatch" class="btn btn-large btn-primary">
</div>
<div class="status_console col-md-6">
    <h1>Cluster status</h2>
    <h2>Currently Connected Nodes</h2>
    <ul class="list-group">
        <li class="list-group-item">
            Connected Nodes <span class="badge" id="connected-nodes">0</span>
        </li>
        <li class="list-group-item">
            Free Nodes <span class="badge" id="free-nodes">0</span>
        </li>

        <li class="list-group-item">
            Used Nodes <span class="badge" id="processing-nodes">0</span>
        </li>
    </ul>

    <h2>Running Jobs</h2>
    <ul class="list-group" id='job-list'></ul>
</div>

<script src="{{url_for('static', filename='js/console.js')}}"></script>

{% endblock %}
